<div id="albums"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Curate.Routers.UsersRouter({albums: <%= @albums_and_songs.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>