<div class="tile all_centered equalpadding_forty short_tile">
  </br>
  <div class="title">
    Curat.ed
  </div>
  <div class="subtitle">
    Personalized micro-review pages.</br>
  </div>
  <div class="subtitle">
    <select id="user_search" data-placeholder="Search for a User" onChange="directToUser()">
      <option></option>
      <% User.all.each do |user| %>
        <option> <%= user.username %> </option>
      <% end %>
    </select>
  </div>
</div>

<script >
  $("#user_search").select2({
    placeholder: "Find a Reviewer",
    allowClear: false,
    minimumInputLength: 1
   });
</script>

<style type="text/css">
.select2-container .select2-choice div {
  display: none;
}

#select2-drop{
  margin-top: 10px;
  border-color: #5897fb;
}
</style>

<div class="tile" id="song_1">
  <div class="row-fluid">
    <div class="span5">
      <div class="album-image-holder">
        <img src="http://www.hollywoodreporter.com/sites/default/files/imagecache/blog_post_349_width/2013/03/daft_punk_random_access_memories_cover_p.jpg"  class="album-image"></img>
      </div>
    </div>
    <div class="span7 centered_text album-description">
      <div class="album-name" style="color: #9FFF05">
       Random Access Memories
      </div>
      <div class="band-name" style="color: #9FFF05">
        Daft Punk
      </div>
      <div class="album-rating" style="color: #9FFF05">
        9
      </div>
      <div class="micro-review" style="color: #9FFF05">
        <em>An inspired blend of the 1970's and 2020's. Truly unique.</em>
      </div>
    </div>
  </div>
</div>

<div class="tile" id="song_2">
  <div class="row-fluid">
    <div class="span5">
      <div class="album-image-holder">
        <img src="http://thepaperwolf.files.wordpress.com/2013/04/comedown-machine_custom-e6963d94edf6f732addd442be1087572d793523f-s6-c10.jpg" class="album-image"></img>
      </div>
    </div>
    <div class="span7 centered_text album-description">
      <div class="album-name" style="color: #FFAB0F">
       Comedown Machine
      </div>
      <div class="band-name" style="color: #FFAB0F">
        The Strokes
      </div>
      <div class="album-rating" style="color: #FFAB0F">
        5
      </div>
      <div class="micro-review" style="color: #FFAB0F">
        <em>While it shows flashes of brilliance, it cannot live up to the band's previous work.</em>
      </div>
    </div>
  </div>
</div>

<div class="tile" id="song_2">
  <div class="row-fluid">
    <div class="span5">
      <div class="album-image-holder">
        <img src="http://images.amazon.com/images/P/B0006V6TK8.01.LZZZZZZZ.jpg"></img>
      </div>
    </div>
    <div class="span7 centered_text album-description">
      <div class="album-name" style="color: #F0D400">
       Push The Button
      </div>
      <div class="band-name" style="color: #F0D400">
        The Chemical Brothers
      </div>
      <div class="album-rating" style="color: #F0D400">
        7
      </div>
      <div class="micro-review" style="color: #F0D400">
        <em>In straying from their traditional sound, the duo have taken the next step.</em>
      </div>
    </div>
  </div>
</div>