<div id="index_backgrond">
  <div class="tile all_centered equalpadding_forty short_tile" id="index_tile">
    </br>
    <div class="title">
      two cents
    </div>
    <div class="subtitle">
      thoughts on music </br> from the people that matter
    </div>
    <div class="subtitle">
      <select id="user_search" data-placeholder="Search for a User" onChange="directToUser()">
        <option></option>
        <% User.all.each do |user| %>
          <option> <%= user.username %> </option>
        <% end %>
      </select>
    </div>
  </div>

  <script >
    $("#user_search").select2({
      placeholder: "Find a Reviewer",
      allowClear: false,
      minimumInputLength: 1
     });
  </script>

  <style type="text/css">
  .select2-container .select2-choice div {
    display: none;
  }

  #select2-drop{
    margin-top: 10px;
    border-color: #5897fb;
  }
  </style>
</div>