body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #DDD;
  &:visited {
    color: #DDD;
  }
  &:hover {
    color: #fff;
    /*background-color: #000;*/
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  /*border: px solid red;*/
}

#error_explanation {
  margin: 0 auto;
  width: 60%;
  border: 1px solid red;
  border-radius: 4px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #DDD;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #DDD;;
    color: #333;
    border-radius: 4px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color: #333;
  }
}
